{{ define "main" }}

<section class="section pb-0">
  <div class="container">
    <div class="row">
      <div class="col-lg-8 mx-auto text-center block shadow">
        <img src="{{ .Params.Image | relURL }}" alt="" class="img-fluid d-block mx-auto rounded-circle mb-4 author-thumb">
        <h4>{{ .Title | markdownify }}</h4>
        <div class="content text-justify">
          {{ .Content }}
        </div>
      </div>
    </div>
  </div>
</section>

<!-- blog -->
<section class="section">
  <div class="container">
    <div class="row">
      <div class="col-lg-8 mx-auto px-0">
        <h2 class="mb-4">Posts by {{ .Title }}</h2>
        <div class="bg-white shadow block">
          {{ $name:= .Title }}
          {{ range where .Site.RegularPages "Params.author" $name }}
          {{ .Render "article" }}
          {{ end }}
        </div>
      </div>
    </div>
  </div>
</section>
<!-- /blog -->

{{ end }}